<!--views/pedido.ejs -->
<div class="form-header">
    <h2>Toma tu pedido</h2>
  </div>
  <form method="post" action="/contact" novalidate>
    <div class="form-field">
      <label for="message">idPedido</label>
      <textarea class="input" id="message" name="message" rows="1" autofocus></textarea>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input class="input" id="email" name="email" type="email" value="" />
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form>
  <!--FORMULARIO -->
 
     <!--<div class="form-group m-t-30">
    <label id="lbl_Iccf70f055_15863913981371" class="lbl_wtfm" for="Iccf70f055_15863913981371">Selecciona tu plato de entrada </label>
    <small id="help_Iccf70f055_15863913981371" class="form-text text-muted"></small>
    <div id="error_Iccf70f055_15863913981371" class="invalid-feedback"></div>
    <input type="hidden" id="Iccf70f055_15863913981371" name="Iccf70f055_15863913981371" value="">
    <div class="row owl-carousel" style="width: 100% !important;">
                    <div class="card border-card-white m-b-10 ">
            <div class="card-media">
                <img class="card-img-top" data-src="C:\Users\Lidia\Desktop\PedidosMariscada\FormulariosPedidos\src\public\p2856f98fc-02ba-4ba7-af11-ae20127181c6.jpg" alt="Entrada 1">
            </div>

            
             <div class="card-body catalog-card ">
                <p class="catalog-text">Entrada 1 </p>
                <p class="catalog-description"></p>
                <h5 class="catalog-pricing">
                  <a class="btn btn-sm  btn-light " @click="showDetail(`Entrada 1`, ``, `$ 3.00`, `C:\Users\Lidia\Desktop\PedidosMariscada\FormulariosPedidos\src\public\p2856f98fc-02ba-4ba7-af11-ae20127181c6.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                  $ 3.00
                </h5>
            </div>-->
            
            <div class="card-footer ">
                <input type="hidden" name="title_Oe203c2ace_15863914355614" id="title_Oe203c2ace_15863914355614" value="Entrada 1">
                <input type="hidden" name="pricing_Oe203c2ace_15863914355614" id="pricing_Oe203c2ace_15863914355614" value="3000">
                <input id="Oe203c2ace_15863914355614" name="Oe203c2ace_15863914355614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Oe203c2ace_15863914355614', 'Iccf70f055_15863913981371')" />
            </div>
        </div>
                    <div class="card border-card-white m-b-10 ">
            <div class="card-media">
                <img class="card-img-top" data-src="https://whataform.com/storage/options/picture_561465eafc3b2a26458_598d5cbdbf57d8f5a4bb827e8f61f70483fe1e15.jpg" alt="Entrada 2">
            </div>
            <div class="card-body catalog-card ">
                <p class="catalog-text">Entrada 2 </p>
                <p class="catalog-description"></p>
                <h5 class="catalog-pricing">
                  <a class="btn btn-sm  btn-light " @click="showDetail(`Entrada 2`, ``, `$ 2.50`, `https://whataform.com/storage/options/picture_561465eafc3b2a26458_598d5cbdbf57d8f5a4bb827e8f61f70483fe1e15.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                  $ 2.50
                </h5>
            </div>
            <div class="card-footer ">
                <input type="hidden" name="title_Of27c127ae_15863914455614" id="title_Of27c127ae_15863914455614" value="Entrada 2">
                <input type="hidden" name="pricing_Of27c127ae_15863914455614" id="pricing_Of27c127ae_15863914455614" value="2500">
                <input id="Of27c127ae_15863914455614" name="Of27c127ae_15863914455614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Of27c127ae_15863914455614', 'Iccf70f055_15863913981371')" />
            </div>
             <!--
        </div>
                    <div class="card border-card-white m-b-10 ">
            <div class="card-media">
                <img class="card-img-top" data-src="https://whataform.com/storage/options/picture_56141673019c262b38a_14e91ab232a67d825befdd80abb0699c305c7c74.jpg" alt="Entrada 3">
            </div>
            <div class="card-body catalog-card ">
                <p class="catalog-text">Entrada 3 </p>
                <p class="catalog-description"></p>
                <h5 class="catalog-pricing">
                  <a class="btn btn-sm  btn-light " @click="showDetail(`Entrada 3`, ``, `$ 3.00`, `https://whataform.com/storage/options/picture_56141673019c262b38a_14e91ab232a67d825befdd80abb0699c305c7c74.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                  $ 3.00
                </h5>
            </div>
            <div class="card-footer ">
                <input type="hidden" name="title_O0fbc4739b_15863914655614" id="title_O0fbc4739b_15863914655614" value="Entrada 3">
                <input type="hidden" name="pricing_O0fbc4739b_15863914655614" id="pricing_O0fbc4739b_15863914655614" value="3000">
                <input id="O0fbc4739b_15863914655614" name="O0fbc4739b_15863914655614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('O0fbc4739b_15863914655614', 'Iccf70f055_15863913981371')" />
            </div>
        </div>
                    <div class="card border-card-white m-b-10 ">
            <div class="card-media">
                <img class="card-img-top" data-src="https://whataform.com/storage/options/picture_561410e8dc15b6b146e_f5a796c1a49140de6a2ee40e65482fa9aeba9dcc.jpg" alt="Entrada 4">
            </div>
            <div class="card-body catalog-card ">
                <p class="catalog-text">Entrada 4 </p>
                <p class="catalog-description"></p>
                <h5 class="catalog-pricing">
                  <a class="btn btn-sm  btn-light " @click="showDetail(`Entrada 4`, ``, `$ 3.50`, `https://whataform.com/storage/options/picture_561410e8dc15b6b146e_f5a796c1a49140de6a2ee40e65482fa9aeba9dcc.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                  $ 3.50
                </h5>
            </div>
            <div class="card-footer ">
                <input type="hidden" name="title_Oc2ebc4f63_15863914765614" id="title_Oc2ebc4f63_15863914765614" value="Entrada 4">
                <input type="hidden" name="pricing_Oc2ebc4f63_15863914765614" id="pricing_Oc2ebc4f63_15863914765614" value="3500">
                <input id="Oc2ebc4f63_15863914765614" name="Oc2ebc4f63_15863914765614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Oc2ebc4f63_15863914765614', 'Iccf70f055_15863913981371')" />
            </div>
        </div>
                </div>
</div> -->
