<!--views/pedido.ejs -->
<!-- <div class="form-header">
    <h2>Toma tu pedido</h2>
  </div>
  <form method="post" action="/contact" novalidate>
    <div class="form-field">
      <label for="message">idPedido</label>
      <textarea class="input" id="message" name="message" rows="1" autofocus></textarea>
    </div>
    <div class="form-field">
      <label for="email">Email</label>
      <input class="input" id="email" name="email" type="email" value="" />
    </div>
    <div class="form-actions">
      <button class="btn" type="submit">Send</button>
    </div>
  </form> -->
  


  <!DOCTYPE html>
  <html lang="es">
  <head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=0" name="viewport">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-touch-fullscreen" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <title>Toma de pedidos Demo - Oriental :: Whataform</title>
  <meta name="title" content="Restaurant Demo - Pedidos para Restaurantes">
  <meta name="keywords" content="Restaurant Demo, Pedidos para Restaurantes, Restaurantes y Comida">
  <meta name="description" content=". Ofrece el menú de tu restaurante, indica tus precios y tu formulario se encargará de solicitar cantidades y totalizar la orden.">
  <meta name="robots" content="all">
  <meta name="distribution" content="all">
  <meta name="revisit" content="1 days">
  <meta name="revisit-after" content="1 days">
  <meta http-equiv="Cache-Control" content="max-age=86400">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <link rel="icon" type="image/png" href=" css/logo.png "/>
  <link rel="stylesheet" type="text/css" href="css/bootstrap-datepicker3.min.css">
  <link rel="stylesheet" type="text/css" href="css/jquery.scrollbar.css">
  <link rel="stylesheet" href="css/select2.min.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/daterangepicker.css">
  <link rel="stylesheet" href="css/bootstrap-timepicker.min.css">
  <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,500,600" rel="stylesheet">
  <link rel="stylesheet" href="css/jost.css">
  <link rel="stylesheet" type="text/css" href="css/materialdesignicons.min.css">
  <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.wtfm.light.min.css">
  <link rel="stylesheet" type="text/css" href="css/maps.css">
  <link rel="stylesheet" type="text/css" href="css/wtfm.min.css">
  
  <style media="screen">
    .color-from{ background-color: #FFFFFF !important; }
    .bg-img{ background: url('css/background.jpg'); }
    .color-sobre::after{ content:""; position:fixed; top:0; left:0; width:100%; height:100%; background:#FFFFFF; opacity: 0.7; z-index:0; }
    .z-mayor{z-index:1 !important;}
    .color-txt{color: #000 !important;}
  </style>
  
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-149949991-1'></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-149949991-1');
        </script>
        <script>function loadScript(a){var b=document.getElementsByTagName('head')[0],c=document.createElement('script');c.type='text/javascript',c.src='https://tracker.metricool.com/resources/be.js',c.onreadystatechange=a,c.onload=a,b.appendChild(c)}loadScript(function(){beTracker.t({hash:'dcdbc20dc130a8a7763e137bf9ff2cce'})});</script>
  
  </head>
 <body class="jumbo-page bg-img">
  
    <div class="overlay" id="loading_wtfm">
        <div class="overlay__inner">
            <div class="overlay__content"><span id="spinner_finish" class="spinner"></span></div>
            <div class="overlay__text"><p id="text_finish"> Esperando </p></div>
        </div>
    </div>
  
        
    <div class="color-sobre"></div>
  
  
  
  <main class="admin-main" id="wtfm">
  
    <input type="hidden" id="is_begin" value="1">
    <input type="hidden" id="is_finish" value="0">
    <input type="hidden" id="embed" value="false">
  
    <transition name="slide-fade">
  
      <section class="admin-content" v-show="begin" >
          <div class="container  p-b-50">
              <div class="row m-h-100 align-items-center justify-content-center">
                  <div class="col-lg-6 col-md-10 p-t-80">
                      <div class="card shadow-lg ">
                          <div class=" p-all-25">
                              <div class="pull-up-sm text-center ">
                                                                    <div class="avatar avatar avatar-lg">
                                        <img data-src="images\logo.png" alt="" width="20" height="10" >
                                    </div>
                                    <p class="p-b-20">Toma de Pedidos Oriental</p>
                                  
                                                                                                                                              <h4><span class="align-middle p-b-20"> </span></h4>
                                                                                                        
                              </div>
                                                          <form id="formBegin" name="formBegin" class="form-horizontal " >
                                <div class="form-group m-t-10">
                                  <div align="center">
                                    <button id="btnbegin" class="btn m-b-15 ml-2 mr-2 btn-lg btn-primary color-from color-txt" type="button" @click="clickBegin()">Generar pedido <i class="mdi mdi-flash" aria-hidden="true"></i></button>
                                  </div>
                                </div>
                              </form>
                              
  
  
                          </div>
                                                                                                </div>
                  </div>
              </div>
          </div>
      </section>
  
    </transition>-->
  
    <transition name="slide-fade">
  
      <section class="admin-content" id="wtfm" v-show="content">
          <div class="container  p-b-50">
              <div class="row m-h-100 align-items-center justify-content-center">
                  <div class="col-lg-6 col-md-10 p-t-80">
                      <div class="card shadow-lg ">
                          <div class=" p-all-25">
                              <div class="pull-up-sm text-center ">
                                                                    <div class="avatar avatar avatar-lg">
                                        <img data-src="images\logo.png" alt=""width="800" height="100" alt="A 60x60 image">
                                    </div>
                                    <!--<p class="p-b-20">Toma de Pedidos Oriental</p>-->
                                  
                                  <h4><span class="align-middle">Pedidos Oriental</span></h4>
                                <!--<small class="form-text text-muted">Ofrece el menú de tu restaurante, indica tus precios y tu formulario se encargará de solicitar cantidades y totalizar la orden.</small>-->
                              </div>
                             <form id="formWTFMv2" name="formWTFMv2" class="form-horizontal " method="POST" action="#" v-on:submit.prevent="sendForm('215ec8ec678')" enctype="multipart/form-data" >
                                <input type="hidden" name="_token" value="w3UbGqX5ZKS3owaTYJtxm1w6voY3ognt9A8HByJd">                                <div class="form-group m-t-30">
           <!-- <label id="lbl_Id5c46a84a_15863913811371" class="lbl_wtfm" for="Id5c46a84a_15863913811371">Indicame tu NADA  (*) </label>-->
            <!--<input type="text" maxlength="60" class="form-control " id="Id5c46a84a_15863913811371" name="Id5c46a84a_15863913811371" aria-describedby="help_Id5c46a84a_15863913811371" placeholder="" value=""  required >-->
            <small id="help_Id5c46a84a_15863913811371" class="form-text text-muted"></small>
        </div>
        <div id="error_Id5c46a84a_15863913811371" class="invalid-feedback"></div>
      
      
      
      
            <div class="form-group m-t-30">
            <label id="lbl_Iccf70f055_15863913981371" class="lbl_wtfm" for="Iccf70f055_15863913981371">Salsas</label>
            <small id="help_Iccf70f055_15863913981371" class="form-text text-muted"></small>
            <div id="error_Iccf70f055_15863913981371" class="invalid-feedback"></div>
            <input type="hidden" id="Iccf70f055_15863913981371" name="Iccf70f055_15863913981371" value="">
            <div class="row owl-carousel" style="width: 100% !important;">
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\salsachina200-300x300.jpg" alt="Ceviche Camarón">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">Salsa china de soya Oriental 200 ml </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Ceviche Camarón`, ``, `$ 1.30`, `images\ceviche2.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          $ 1.30
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_Oe203c2ace_15863914355614" id="title_Oe203c2ace_15863914355614" value="Ceviche Camarón">
                        <input type="hidden" name="pricing_Oe203c2ace_15863914355614" id="pricing_Oe203c2ace_15863914355614" value="1.30">
                        <input id="Oe203c2ace_15863914355614" name="Oe203c2ace_15863914355614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Oe203c2ace_15863914355614', 'Iccf70f055_15863913981371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\salsachina400-300x300.jpg" alt="Ceviche Mixto">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">Salsa china de soya Oriental 400 ml
                        </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Ceviche Mixto`, ``, `$ 2.30`, `images\ceviche3.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          2.30$
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_Of27c127ae_15863914455614" id="title_Of27c127ae_15863914455614" value="Ceviche Mixto">
                        <input type="hidden" name="pricing_Of27c127ae_15863914455614" id="pricing_Of27c127ae_15863914455614" value="2.30">
                        <input id="Of27c127ae_15863914455614" name="Of27c127ae_15863914455614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Of27c127ae_15863914455614', 'Iccf70f055_15863913981371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\salsasuperior-200-300x300.jpg" alt="Ceviche Pulpo">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">Salsa Superior de Soya Especial 200 ml </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Ceviche Pulpo`, ``, `$ 1.56`, `images\ceviche4.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          1.56$
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_O0fbc4739b_15863914655614" id="title_O0fbc4739b_15863914655614" value="Ceviche Pulpo">
                        <input type="hidden" name="pricing_O0fbc4739b_15863914655614" id="pricing_O0fbc4739b_15863914655614" value="1.56">
                        <input id="O0fbc4739b_15863914655614" name="O0fbc4739b_15863914655614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('O0fbc4739b_15863914655614', 'Iccf70f055_15863913981371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\ceviche3.jpg" alt="Ceviche Ostras">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">Ceviche Ostras </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Ceviche Ostras`, ``, `$ 3.50`, `images\ceviche3.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          3.50$
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_Oc2ebc4f63_15863914765614" id="title_Oc2ebc4f63_15863914765614" value="Ceviche Ostras">
                        <input type="hidden" name="pricing_Oc2ebc4f63_15863914765614" id="pricing_Oc2ebc4f63_15863914765614" value="3.50">
                        <input id="Oc2ebc4f63_15863914765614" name="Oc2ebc4f63_15863914765614"  class="number_add_cart Iccf70f055_15863913981371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Oc2ebc4f63_15863914765614', 'Iccf70f055_15863913981371')" />
                    </div>
                </div>
                        </div>
        </div>
      
  
      
      
            <div class="form-group m-t-30">
            <label id="lbl_Ic2fd48b04_15863914881371" class="lbl_wtfm" for="Ic2fd48b04_15863914881371">Fideos</label>
            <small id="help_Ic2fd48b04_15863914881371" class="form-text text-muted"></small>
            <div id="error_Ic2fd48b04_15863914881371" class="invalid-feedback"></div>
            <input type="hidden" id="Ic2fd48b04_15863914881371" name="Ic2fd48b04_15863914881371" value="">
            <div class="row owl-carousel" style="width: 100% !important;">
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\rapiditointegral-300x300.jpg" alt="Arroz Marinero">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">FIDEO RAPIDITO VASO 65GR INTEGRAL                        </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Arroz Marinero`, ``, `$ 1.00`, `images\RAP-RES-PICANTE-500-2.png`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          1.00$ IVA INCLUIDO
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_O20a2e9cac_15863915095615" id="title_O20a2e9cac_15863915095615" value="Arroz Marinero">
                        <input type="hidden" name="pricing_O20a2e9cac_15863915095615" id="pricing_O20a2e9cac_15863915095615" value="1.00">
                        <input id="O20a2e9cac_15863915095615" name="O20a2e9cac_15863915095615"  class="number_add_cart Ic2fd48b04_15863914881371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('O20a2e9cac_15863915095615', 'Ic2fd48b04_15863914881371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\FIDEO-CHINO-400G-copy-300x300.png" alt="Pescado Frito">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">FIDEO CHINO FINO 400g.</p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Pescado Frito`, ``, `$ 1.75`, `images\a2.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          1.75$
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_O520bdc7e2_15863915205615" id="title_O520bdc7e2_15863915205615" value="Pescado Frito">
                        <input type="hidden" name="pricing_O520bdc7e2_15863915205615" id="pricing_O520bdc7e2_15863915205615" value="1.75">
                        <input id="O520bdc7e2_15863915205615" name="O520bdc7e2_15863915205615"  class="number_add_cart Ic2fd48b04_15863914881371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('O520bdc7e2_15863915205615', 'Ic2fd48b04_15863914881371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10  product-disabled ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\FIDEO-CHINO-400G-copy-300x300.png" alt="Arroz Marinero">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">FIDEO CHINO GRUESO 400 GRE </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Arroz Marinero`, ``, `$ 1.75`, `images\a3.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          $ 1.75
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_Ob04ecad32_15863915355615" id="title_Ob04ecad32_15863915355615" value="Arroz Marinero">
                        <input type="hidden" name="pricing_Ob04ecad32_15863915355615" id="pricing_Ob04ecad32_15863915355615" value="1.75">
                        <input id="Ob04ecad32_15863915355615" name="Ob04ecad32_15863915355615"  disabled  class="number_add_cart Ic2fd48b04_15863914881371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Ob04ecad32_15863915355615', 'Ic2fd48b04_15863914881371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\rapiditovasoconatun-300x300.jpg" alt="Plato 4">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">FIDEO RAPIDITO POLLO 65G+ATUN 80G </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Plato 4`, ``, `$ 1.50`, `https://whataform.com/storage/options/picture_56156dcaf09abb1bc10_9c9ef78f43afcc2940b0eff7fdab153d4df6a620.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          1.50$
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_O237aae837_15863915485615" id="title_O237aae837_15863915485615" value="Plato 4">
                        <input type="hidden" name="pricing_O237aae837_15863915485615" id="pricing_O237aae837_15863915485615" value="1.50">
                        <input id="O237aae837_15863915485615" name="O237aae837_15863915485615"  class="number_add_cart Ic2fd48b04_15863914881371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('O237aae837_15863915485615', 'Ic2fd48b04_15863914881371')" />
                    </div>
                </div>
                        </div>
        </div>
      
  
      
  
      
  
      
  
    
      
      
      
      
      
      
      
      
      
      
      
      
      
            <div class="form-group m-t-30">
            <label id="lbl_I8aa3d90b8_15863915561371" class="lbl_wtfm" for="I8aa3d90b8_15863915561371">Bebidas </label>
            <small id="help_I8aa3d90b8_15863915561371" class="form-text text-muted"></small>
            <div id="error_I8aa3d90b8_15863915561371" class="invalid-feedback"></div>
            <input type="hidden" id="I8aa3d90b8_15863915561371" name="I8aa3d90b8_15863915561371" value="">
            <div class="row owl-carousel" style="width: 100% !important;">
                            <div class="card border-card-white m-b-10  product-disabled ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\AGUA500ML-300x300.jpg" alt="Promocion #QuedateenCasa">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">AGUA500ML-300x300.jpg </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Postre 1`, ``, `$ 0.45`, `images\promo1.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          0.45¢
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_Oa9ddc2489_15863915765616" id="title_Oa9ddc2489_15863915765616" value="Promocion #QuedateenCasa">
                        <input type="hidden" name="pricing_Oa9ddc2489_15863915765616" id="pricing_Oa9ddc2489_15863915765616" value="0.45">
                        <input id="Oa9ddc2489_15863915765616" name="Oa9ddc2489_15863915765616"  disabled  class="number_add_cart I8aa3d90b8_15863915561371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Oa9ddc2489_15863915765616', 'I8aa3d90b8_15863915561371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\AGUA-L-MANA-7-LT-300x300.png" alt="PromoCanastitasMariscada">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text"> AGUA-L-MANA-7-LT-300x300.png </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`PromoCanastitasMariscada`, ``, `$ 1.96`, `images\promo1.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          1.96$
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_Oe2e3b0947_15863915895616" id="title_Oe2e3b0947_15863915895616" value="PromoCanastitasMariscada">
                        <input type="hidden" name="pricing_Oe2e3b0947_15863915895616" id="pricing_Oe2e3b0947_15863915895616" value="1.96">
                        <input id="Oe2e3b0947_15863915895616" name="Oe2e3b0947_15863915895616"  class="number_add_cart I8aa3d90b8_15863915561371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('Oe2e3b0947_15863915895616', 'I8aa3d90b8_15863915561371')" />
                    </div>
                </div>
                            <div class="card border-card-white m-b-10 ">
                    <div class="card-media">
                        <img class="card-img-top" data-src="images\bebida-de-te-cha-sabor-a-limon-300x300.jpg" alt="Postre 3">
                    </div>
                    <div class="card-body catalog-card ">
                        <p class="catalog-text">Bebida de Té Chá sabor a limón 500ml </p>
                        <p class="catalog-description"></p>
                        <h5 class="catalog-pricing">
                          <a class="btn btn-sm  btn-light " @click="showDetail(`Postre 3`, ``, `$ 0.86`, `https://whataform.com/storage/options/picture_561685be1728055d2ee_71a93ff62712856c33c1452e13156dbc873c8751.jpg`)">  <i class="mdi mdi-arrow-expand"></i></a>
                          0.86$
                        </h5>
                    </div>
                    <div class="card-footer ">
                        <input type="hidden" name="title_O8763f5e2d_15863916045616" id="title_O8763f5e2d_15863916045616" value="Postre 3">
                        <input type="hidden" name="pricing_O8763f5e2d_15863916045616" id="pricing_O8763f5e2d_15863916045616" value="0.86">
                        <input id="O8763f5e2d_15863916045616" name="O8763f5e2d_15863916045616"  class="number_add_cart I8aa3d90b8_15863915561371" type="number" value="0" min="0" max="1000" step="1" @change="addCart('O8763f5e2d_15863916045616', 'I8aa3d90b8_15863915561371')" />
                    </div>
                </div>
                        </div>
        </div>
      
  
      
  
      
  
      
  
    
      
      
      
      
      
      
      
            <!--<div class="form-group m-t-30">
            <label id="lbl_Id4347b7e2_15863916341371" class="lbl_wtfm" for="Id4347b7e2_15863916341371">Deseas incluir cubiertos  (*) </label>
            <small id="help_Id4347b7e2_15863916341371" class="form-text text-muted">Ayuda al planeta y utiliza tus propios cubiertos</small>
            <div id="error_Id4347b7e2_15863916341371" class="invalid-feedback"></div>
            <div class="option-box ">
                <input name="Id4347b7e2_15863916341371" id="opt_yes_Id4347b7e2_15863916341371"  value="SI" type="radio">
                <label for="opt_yes_Id4347b7e2_15863916341371" >
                    <span class="radio-content">
                        <span class="h6 d-block">SI</span>
                        <span class="text-muted d-block m-b-10"></span>
                    </span>
                </label>
            </div>
            <div class="option-box ">
                <input name="Id4347b7e2_15863916341371" id="opt_no_Id4347b7e2_15863916341371"  value="NO" type="radio">
                <label for="opt_no_Id4347b7e2_15863916341371" >
                    <span class="radio-content">
                        <span class="h6 d-block">NO</span>
                        <span class="text-muted d-block m-b-10"></span>
                    </span>
                </label>
            </div>
          </div>
      
      
      
      
      
      
      
  
      
  
      
  
      
  
    
      
      
      
      
      
      
      
      
      
      
      
      
      
      
  
      
  
            <div class="form-group m-t-30">
            <label id="lbl_select_Ia239c6a46_15863916551371" class="lbl_wtfm" for="Ia239c6a46_15863916551371">Selecciona el tipo de delivery  (*) </label>
              <select class="custom-select pricing_add_cart" id="Ia239c6a46_15863916551371" name="Ia239c6a46_15863916551371" placeholder=""  required   @change="sumCart('Ia239c6a46_15863916551371')">
                <option value=""></option>
                              <option  value="Delivery Santiago Centro::wtfm::-::wtfm::2000::wtfm::-::wtfm::O10d5b7b38_15863916665618" >Delivery Santiago Centro - $ 2.000</option>
                              <option  disabled  value="Delivery Las Condes::wtfm::-::wtfm::3000::wtfm::-::wtfm::O144d2452d_15863916745618" >Delivery Las Condes - $ 3.000</option>
                              <option  value="Delivery Ñuñoa::wtfm::-::wtfm::2000::wtfm::-::wtfm::O2f34afbcc_15863916835618" >Delivery Ñuñoa - $ 2.000</option>
                            </select>
              <input type="hidden" name="select_Ia239c6a46_15863916551371" id="select_Ia239c6a46_15863916551371" value="">
            <small id="help_Ia239c6a46_15863916551371" class="form-text text-muted"></small>
        </div>
  
        <div id="error_select_Ia239c6a46_15863916551371" class="invalid-feedback"></div>
      
  
      
  
    
      
      
      
      
            <div class="form-group m-t-30">
            <label id="lbl_I0c597c5d8_15863916981371" class="lbl_wtfm" for="I0c597c5d8_15863916981371">Indica tu dirección completa  (*) </label>
            <textarea maxlength="191" rows="4" class="form-control " id="I0c597c5d8_15863916981371" name="I0c597c5d8_15863916981371" aria-describedby="help_I0c597c5d8_15863916981371" placeholder=""  required ></textarea>
            <small id="help_I0c597c5d8_15863916981371" class="form-text text-muted"></small>
        </div>
        <div id="error_I0c597c5d8_15863916981371" class="invalid-feedback"></div>
      
      
      
      
      
      
      
      
      
      
  
      
  
      
  
      
  
    
      
      
      
      
      
      
      
      
      
            <div class="form-group m-t-30">
            <label id="lbl_I1f58bcf96_15863917161371" class="lbl_wtfm" for="I1f58bcf96_15863917161371">Quien recibirá el pedido  (*) </label>
            <small id="help_I1f58bcf96_15863917161371" class="form-text text-muted"></small>
            <div id="error_I1f58bcf96_15863917161371" class="invalid-feedback"></div>
                <div class="option-box">
              <input name="I1f58bcf96_15863917161371" id="Oe8d7ecea5_15863917245620"  value="Dejar en recepción" type="radio">
              <label for="Oe8d7ecea5_15863917245620" >
                  <span class="radio-content">
                      <span class="h6 d-block">Dejar en recepción</span>
                      <span class="text-muted d-block m-b-10"></span>
                  </span>
              </label>
          </div>
                <div class="option-box">
              <input name="I1f58bcf96_15863917161371" id="O1a0975a23_15863917295620"  value="Dejar en puerta" type="radio">
              <label for="O1a0975a23_15863917295620" >
                  <span class="radio-content">
                      <span class="h6 d-block">Dejar en puerta</span>
                      <span class="text-muted d-block m-b-10"></span>
                  </span>
              </label>
          </div>
                <div class="option-box">
              <input name="I1f58bcf96_15863917161371" id="Oca1248bfc_15863917365620"  value="Entregar en persona" type="radio">
              <label for="Oca1248bfc_15863917365620" >
                  <span class="radio-content">
                      <span class="h6 d-block">Entregar en persona</span>
                      <span class="text-muted d-block m-b-10"></span>
                  </span>
              </label>
          </div>
              </div>-->
      
      
      
      
      
  
      
  
      
  
      
  
    
    <input type="hidden" name="refererWTF" value="https://whataform.com/ejemplos-formularios">
    <input type="hidden" name="refWTF" value="">
  
    <div class="form-group m-t-30">
  
            <div class="col-md-12  m-b-20 ml-auto">
          <div class="row">
              <div class="col-md-12 catalog-items">
                  <div class="text-overline opacity-75 text-center m-b-10">Detalle de tu orden</div>
                  <div class="table-responsive">
  
                      <table class="table table-hover ">
                          <thead>
                          <tr>
                              <th class="text-items-header ">Descripción</th>
                              <th class="text-items-header ">Cant.</th>
                              <th class="text-items-header ">Precio</th>
                              <th class="text-items-header ">Total</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr v-for="item in items">
                              <td class="text-items ">{{ item.title }}</td>
                              <td class="text-items ">{{ item.cant }}</td>
                              <td class="text-items " align="right">{{ item.pricing }}</td>
                              <td class="text-items " align="right">{{ item.subtotal }}</td>
                          </tr>
                          <tr v-for="adition in aditionals">
                              <td class="text-items " colspan="3">{{ adition.title }}</td>
                              <td class="text-items " align="right">{{ adition.pricing }}</td>
                          </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-md-12  m-b-30 ml-auto">
            <div class="rounded bg-white-translucent">
                <div class="p-all-15">
                    <div class="row">
                        <div class="col-md-12 my-2 m-md-0">
                            <div class="text-overline opacity-75 text-center">Total de tu orden</div>
                            <h3 class="m-0 text-center">$ {{ total }}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
            <div align="center">
                    <img id="loadingsend" width="40" class="m-b-10 is-hidden" data-src="https://whataform.com/assets/app/images/loading_ligth.svg" alt="">
          
          
                        <button id="btnsendform" class="btn m-b-15 ml-2 mr-2 btn-lg btn-primary color-from color-txt" type="submit">Generar su pedido <!--<i class="mdi mdi-whatsapp" aria-hidden="true"></i>--></button>
            
                        <small id="help_footer" class="form-text text-muted">Al dar clic se lo enviará a whatsapp </small>
            
          
        </div>
      
    </div>
  
  
  <div class="modal fade" id="modal_catalog" tabindex="-1" role="dialog" aria-labelledby="modal_catalog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered"  role="document">
          <div class="modal-content ">
              <div>
                <button type="button" class="close light" data-dismiss="modal" aria-label="Cerrar"> <a class="btn btn-sm btn-light"><i class="mdi mdi-close mdi-24px"></i> Cerrar</a></button>
                <img v-show="imgModal != ''" :src="imgModal" class="rounded-top" alt="" width="100%">
              </div>
                <div class="modal-body ">
                    <h2>{{ pricingModal }}</h2>
                    <h4>{{ titleModal }}</h4>
                    <p class="text-muted"> {{ descripModal }}</p>
                </div>
          </div>
      </div>
  </div>
                              </form>
  
                          </div>
                                                                                                </div>
                  </div>
              </div>
          </div>
      </section>
  
    </transition>
  
  
    <transition name="slide-fade">
  
      <section class="admin-content" v-show="finish">
          <div class="container  p-b-50">
              <div class="row m-h-100 align-items-center justify-content-center">
                  <div class="col-lg-6 col-md-10 p-t-80">
                      <div class="card shadow-lg ">
                          <div class=" p-all-25">
                              <div class="pull-up-sm text-center">
                                                                    <div class="avatar avatar avatar-lg">
                                        <img data-src="css/logo.png" alt="" width="20" height="20" >
                                    </div>
                                    <p class="p-b-20">Restaurant Demo</p>
                                  
                                                                    <h4><span class="align-middle p-b-20">Gracias, tu información se envió éxitosamente!</span></h4>
                                                              </div>
                              <form id="formFinish" name="formFinish" class="form-horizontal " >
                                <div class="form-group m-t-10">
                                  <div align="center">
                                    <div class="avatar">
                                        <div class="avatar avatar-title bg-success rounded-circle">
                                            <i class="mdi mdi-check mdi-36px"></i>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </form>
  
                                <p class="text-center m-t-30 is-hidden" id="btn_order">
                                    <a href="#" class="btn m-b-15 ml-2 mr-2 btn-lg btn-primary color-from color-txt" id="url_orden" target="_new">Ver detalle de la orden  <i class="mdi mdi-file-document-box-outline"></i></a>
                                </p>
  
                                                                <p class="text-center m-t-30" id="txt_redirect">
                                      Redireccionando...
                                  </p>
                                
  
                          </div>
                                                                                                </div>
                  </div>
              </div>
          </div>
      </section>
  
    </transition>
  
  </main>
  <script src="css/wtfm_r080520.js"></script>
  <script type="text/javascript">
    $(".number_add_cart").inputSpinner();
  </script>
  <script src="css/wtfm.min.js"></script>
  <script src="css/form.js"></script>
  
  </body>
  </html>
  
